Repository Grupo-AFAL/smartsuite_mcp_server: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, markdownlint, yamllint

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook
#
# Install: brew install lefthook (or gem install lefthook)
# Setup:   lefthook install
#
# These hooks mirror the GitHub Actions CI checks to catch issues locally.

pre-commit:
  parallel: true
  commands:
    # ============================================================
    # Branch Protection - Prevent direct commits to main
    # ============================================================
    no-direct-main:
      priority: 1
      run: |
        branch=$(git rev-parse --abbrev-ref HEAD)
        if [ "$branch" = "main" ] || [ "$branch" = "master" ]; then
          echo ""
          echo "‚ùå ERROR: Direct commits to '$branch' are not allowed!"
          echo ""
          echo "Create a feature branch first:"
          echo "  git checkout -b feature/your-feature-name"
          echo "  git checkout -b fix/your-fix-name"
          echo "  git checkout -b docs/your-docs-name"
          echo ""
          exit 1
        fi

    # ============================================================
    # RuboCop - Ruby linting (mirrors .github/workflows/rubocop.yml)
    # ============================================================
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
      skip:
        - merge
        - rebase

    # ============================================================
    # Markdownlint - Markdown linting (mirrors .github/workflows/docs.yml)
    # Uses .markdownlint.json for configuration
    # ============================================================
    markdownlint:
      glob: "*.md"
      run: npx markdownlint-cli2 {staged_files}
      skip:
        - merge
        - rebase

    # ============================================================
    # YAML Lint - YAML validation
    # ============================================================
    yamllint:
      glob: "*.{yml,yaml}"
      run: npx yaml-lint {staged_files}
      skip:
        - merge
        - rebase

fix: Add missing filter operators and remove invalid is_after
  .gitignore
  CLAUDE.md
  bin/convert_markdown_sessions
  lib/smart_suite/cache/query.rb
  lib/smart_suite/filter_builder.rb
  test/smartsuite/test_filter_builder.rb
Due: rubocop, markdownlint

feat: Add filter operator validation for field type compatibility
  lib/smart_suite/cache/query.rb
  lib/smart_suite/filter_builder.rb
  lib/smart_suite/filter_validator.rb
  test/smartsuite/cache/test_query.rb
  test/smartsuite/test_filter_builder.rb
  test/smartsuite/test_filter_validator.rb
Due: rubocop

docs: Update CHANGELOG with list_views and filter validation features
  CHANGELOG.md
Due: markdownlint

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: yamllint

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: yamllint

Add Claude Code GitHub Workflow (#88)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: yamllint

feat: Add lazy-loading for is_overdue filter with cache metadata
  lib/smart_suite/api/record_operations.rb
  lib/smart_suite/cache/layer.rb
  lib/smart_suite/cache/query.rb
  lib/smart_suite/cache/schema.rb
  lib/smart_suite/filter_builder.rb
  test/smartsuite/api/test_record_operations.rb
  test/smartsuite/cache/test_query.rb
  test/smartsuite/test_filter_builder.rb
Due: rubocop

docs: Clarify that SingleSelect/MultipleSelect filters require value UUIDs
  CLAUDE.md
Due: markdownlint

feat: Add is_after date operator and visible filter validation warnings
  lib/smart_suite/api/record_operations.rb
  lib/smart_suite/cache/query.rb
  lib/smart_suite/filter_builder.rb
  lib/smart_suite/filter_validator.rb
  lib/smart_suite/formatters/response_formatter.rb
  test/smartsuite/test_filter_builder.rb
  test/smartsuite/test_filter_validator.rb
Due: rubocop

feat: PostgreSQL cache feature parity and bug fixes
  CHANGELOG.md
  app/services/cache/postgres_layer.rb
  app/services/mcp_handler.rb
  docs/TODO-sqlite-removal.md
  lib/smart_suite/filter_builder.rb
  test/services/cache/test_postgres_query_filters.rb
Due: rubocop, markdownlint

feat: Add E2E MCP tests and schema evolution tests for PostgreSQL cache
  .gitignore
  CHANGELOG.md
  app/services/cache/postgres_layer.rb
  bin/test_postgres_filters
  db/schema.rb
  test/integration/postgres/test_mcp_e2e.rb
  test/integration/postgres/test_schema_evolution.rb
Due: rubocop, markdownlint

refactor: Extract shared JSONB conditions to module and optimize queries
  app/services/cache/jsonb_conditions.rb
  app/services/cache/postgres_layer.rb
  app/services/mcp_handler.rb
Due: rubocop

fix: Address Claude Code review issues
  CLAUDE.md
  app/services/cache/postgres_layer.rb
Due: rubocop, markdownlint

fix: Implement Claude Code review suggestions
  CLAUDE.md
  app/services/cache/jsonb_conditions.rb
  app/services/cache/postgres_layer.rb
  bin/test_postgres_filters
Due: rubocop, markdownlint

feat: PostgreSQL cache feature parity and bug fixes (#96)
  .gitignore
  CHANGELOG.md
  CLAUDE.md
  app/services/cache/jsonb_conditions.rb
  app/services/cache/postgres_layer.rb
  app/services/mcp_handler.rb
  bin/test_postgres_filters
  db/schema.rb
  docs/TODO-sqlite-removal.md
  lib/smart_suite/filter_builder.rb
  test/integration/postgres/test_mcp_e2e.rb
  test/integration/postgres/test_schema_evolution.rb
  test/services/cache/test_postgres_query_filters.rb
Due: rubocop, markdownlint

fix: Kamal post-deploy hook SSH authentication and add troubleshooting docs
  .kamal/hooks/post-deploy
  CHANGELOG.md
  docs/deployment/kamal.md
Due: markdownlint

fix: Kamal post-deploy hook SSH authentication and add troubleshooting docs (#100)
  .kamal/hooks/post-deploy
  CHANGELOG.md
  docs/deployment/kamal.md
Due: markdownlint

fix: Add minitest-mock gem for minitest 6.0 compatibility
  Gemfile
  Gemfile.lock
  test/test_helper.rb
Due: rubocop
