Repository Grupo-AFAL/smartsuite_mcp_server: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, markdownlint, yamllint

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook
#
# Install: brew install lefthook (or gem install lefthook)
# Setup:   lefthook install
#
# These hooks mirror the GitHub Actions CI checks to catch issues locally.

pre-commit:
  parallel: true
  commands:
    # ============================================================
    # Branch Protection - Prevent direct commits to main
    # ============================================================
    no-direct-main:
      priority: 1
      run: |
        branch=$(git rev-parse --abbrev-ref HEAD)
        if [ "$branch" = "main" ] || [ "$branch" = "master" ]; then
          echo ""
          echo "‚ùå ERROR: Direct commits to '$branch' are not allowed!"
          echo ""
          echo "Create a feature branch first:"
          echo "  git checkout -b feature/your-feature-name"
          echo "  git checkout -b fix/your-fix-name"
          echo "  git checkout -b docs/your-docs-name"
          echo ""
          exit 1
        fi

    # ============================================================
    # RuboCop - Ruby linting (mirrors .github/workflows/rubocop.yml)
    # ============================================================
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
      skip:
        - merge
        - rebase

    # ============================================================
    # Markdownlint - Markdown linting (mirrors .github/workflows/docs.yml)
    # Uses .markdownlint.json for configuration
    # ============================================================
    markdownlint:
      glob: "*.md"
      run: npx markdownlint-cli2 {staged_files}
      skip:
        - merge
        - rebase

    # ============================================================
    # YAML Lint - YAML validation
    # ============================================================
    yamllint:
      glob: "*.{yml,yaml}"
      run: npx yaml-lint {staged_files}
      skip:
        - merge
        - rebase

feat: Add Reek code smell detection to pre-commit hooks
  CHANGELOG.md
  lefthook.yml
Due: markdownlint, yamllint

feat: Add Lefthook for git hooks (blocks commits to main) (#57)
  CHANGELOG.md
  CLAUDE.md
  Gemfile
  Gemfile.lock
  lefthook.yml
Due: markdownlint, yamllint

feat: Add OAuth 2.0 support for Claude Desktop Custom Connectors
  CHANGELOG.md
  Gemfile
  Gemfile.lock
  app/controllers/concerns/mcp_authentication.rb
  app/controllers/oauth_base_controller.rb
  app/controllers/oauth_metadata_controller.rb
  app/controllers/oauth_registrations_controller.rb
  app/controllers/sessions_controller.rb
  app/models/user.rb
  app/views/layouts/oauth.html.erb
  app/views/sessions/new.html.erb
  config/application.rb
  config/credentials.yml.enc
  config/initializers/doorkeeper.rb
  config/initializers/inflections.rb
  config/locales/doorkeeper.en.yml
  config/routes.rb
  db/migrate/20251209061738_create_doorkeeper_tables.rb
  db/migrate/20251209062139_add_password_digest_to_users.rb
  db/schema.rb
  docs/architecture/oauth-implementation-plan.md
Due: rubocop, markdownlint, yamllint

fix: Resolve dynamic date_mode values in date filters
  CHANGELOG.md
  app/services/cache/postgres_layer.rb
  lib/smart_suite/date_mode_resolver.rb
  test/smartsuite/test_date_mode_resolver.rb
Due: rubocop, markdownlint

fix: Read RAILS_MASTER_KEY from .env in kamal secrets
  .kamal/secrets
Due: none

fix: Handle Date Range fields in date comparisons
  CHANGELOG.md
  app/services/cache/postgres_layer.rb
Due: rubocop, markdownlint

test: Add unit tests for date_field_accessor SQL generation
  test/services/cache/test_postgres_layer_date_fields.rb
Due: rubocop

fix: Status/single select field filters now match correctly
  CHANGELOG.md
  app/services/cache/postgres_layer.rb
  test/services/cache/test_postgres_layer_select_fields.rb
Due: rubocop, markdownlint

fix: FilterBuilder now resolves dynamic date modes for cache queries
  CHANGELOG.md
  lib/smart_suite/filter_builder.rb
Due: rubocop, markdownlint

test: Update FilterBuilder tests for date operator preservation
  app/services/cache/postgres_layer.rb
  lib/smart_suite/filter_builder.rb
  test/smartsuite/test_filter_builder.rb
Due: rubocop

fix: Resolve dynamic date_mode values in date filters (#62)
  .kamal/secrets
  CHANGELOG.md
  app/services/cache/postgres_layer.rb
  lib/smart_suite/date_mode_resolver.rb
  lib/smart_suite/filter_builder.rb
  test/services/cache/test_postgres_layer_date_fields.rb
  test/services/cache/test_postgres_layer_select_fields.rb
  test/smartsuite/test_date_mode_resolver.rb
  test/smartsuite/test_filter_builder.rb
Due: rubocop, markdownlint

fix: Date field accessor validates date format before comparison
  app/services/cache/postgres_layer.rb
Due: rubocop

fix: Date field accessor validates date format before comparison (#63)
  app/services/cache/postgres_layer.rb
Due: rubocop

fix: is_empty and is_not_empty filters now work correctly
  app/services/cache/postgres_layer.rb
  lib/smart_suite/filter_builder.rb
  test/smartsuite/test_filter_builder.rb
Due: rubocop

fix: is_empty and is_not_empty filters now work correctly (#64)
  app/services/cache/postgres_layer.rb
  lib/smart_suite/filter_builder.rb
  test/smartsuite/test_filter_builder.rb
Due: rubocop

fix: is_empty/is_not_empty now handle all SmartSuite field types
  app/services/cache/postgres_layer.rb
Due: rubocop

docs: Add changelog entry for is_empty/is_not_empty fix
  CHANGELOG.md
Due: markdownlint

fix: is_empty/is_not_empty now handle all SmartSuite field types (#65)
  CHANGELOG.md
  app/services/cache/postgres_layer.rb
Due: rubocop, markdownlint

feat: Add PostgreSQL integration tests for filter operators
  .gitignore
  .kamal/secrets
  CHANGELOG.md
  app/services/cache/postgres_layer.rb
  config/credentials.yml.enc
  test/integration/postgres/test_filter_operators.rb
  test/integration/postgres/test_helper.rb
Due: rubocop, markdownlint

feat: Add PostgreSQL integration tests for filter operators (#66)
  .gitignore
  .kamal/secrets
  CHANGELOG.md
  app/services/cache/postgres_layer.rb
  config/credentials.yml.enc
  test/integration/postgres/test_filter_operators.rb
  test/integration/postgres/test_helper.rb
Due: rubocop, markdownlint
