Repository Grupo-AFAL/smartsuite_mcp_server: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, markdownlint, yamllint

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook
#
# Install: brew install lefthook (or gem install lefthook)
# Setup:   lefthook install
#
# These hooks mirror the GitHub Actions CI checks to catch issues locally.

pre-commit:
  parallel: true
  commands:
    # ============================================================
    # Branch Protection - Prevent direct commits to main
    # ============================================================
    no-direct-main:
      priority: 1
      run: |
        branch=$(git rev-parse --abbrev-ref HEAD)
        if [ "$branch" = "main" ] || [ "$branch" = "master" ]; then
          echo ""
          echo "‚ùå ERROR: Direct commits to '$branch' are not allowed!"
          echo ""
          echo "Create a feature branch first:"
          echo "  git checkout -b feature/your-feature-name"
          echo "  git checkout -b fix/your-fix-name"
          echo "  git checkout -b docs/your-docs-name"
          echo ""
          exit 1
        fi

    # ============================================================
    # RuboCop - Ruby linting (mirrors .github/workflows/rubocop.yml)
    # ============================================================
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
      skip:
        - merge
        - rebase

    # ============================================================
    # Markdownlint - Markdown linting (mirrors .github/workflows/docs.yml)
    # Uses .markdownlint.json for configuration
    # ============================================================
    markdownlint:
      glob: "*.md"
      run: npx markdownlint-cli2 {staged_files}
      skip:
        - merge
        - rebase

    # ============================================================
    # YAML Lint - YAML validation
    # ============================================================
    yamllint:
      glob: "*.{yml,yaml}"
      run: npx yaml-lint {staged_files}
      skip:
        - merge
        - rebase

feat: Add HtmlToSmartdoc converter for HTML to SmartDoc conversion
  CHANGELOG.md
  lib/smart_suite/formatters/html_to_smartdoc.rb
  test/smartsuite/formatters/test_html_to_smartdoc.rb
Due: rubocop, markdownlint

feat: Add HtmlToSmartdoc converter for HTML to SmartDoc conversion (#102)
  CHANGELOG.md
  lib/smart_suite/formatters/html_to_smartdoc.rb
  test/smartsuite/formatters/test_html_to_smartdoc.rb
Due: rubocop, markdownlint

docs: Add dependency field documentation for create/update records
  CHANGELOG.md
  CLAUDE.md
  lib/smart_suite/mcp/tool_registry.rb
Due: rubocop, markdownlint

docs: Add dependency field documentation for create/update records (#107)
  CHANGELOG.md
  CLAUDE.md
  lib/smart_suite/mcp/tool_registry.rb
Due: rubocop, markdownlint

fix: Add missing query operators and defensive table check in PostgresLayer
  app/services/cache/postgres_layer.rb
  db/migrate/20260212120000_create_cache_views_and_deleted_records.rb
Due: rubocop

docs: Add CHANGELOG entries for PostgresLayer fixes
  CHANGELOG.md
Due: markdownlint

fix: Add missing query operators and defensive table check in PostgresLayer (#117)
  CHANGELOG.md
  app/services/cache/postgres_layer.rb
  db/migrate/20260212120000_create_cache_views_and_deleted_records.rb
Due: rubocop, markdownlint

fix: Resolve all 20 unresolved Sentry errors
  CHANGELOG.md
  app/services/mcp_handler.rb
  lib/smart_suite/api/record_operations.rb
  lib/smart_suite/date_transformer.rb
  lib/smart_suite/formatters/response_formatter.rb
  test/smartsuite/test_date_transformer.rb
Due: rubocop, markdownlint

fix: Resolve all 20 unresolved Sentry errors (#118)
  CHANGELOG.md
  app/services/mcp_handler.rb
  lib/smart_suite/api/record_operations.rb
  lib/smart_suite/date_transformer.rb
  lib/smart_suite/formatters/response_formatter.rb
  test/smartsuite/test_date_transformer.rb
Due: rubocop, markdownlint
